@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('TrueType');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('TrueType');
}
